In [262]:
import pandas as pd
import numpy as np

In [263]:
df = pd.read_csv('telco-churn.csv')

## Data Understanding

1. Berapa banyak baris dan kolom?

In [264]:
print('baris:', df.shape[0])
print('kolom:', df.shape[1])

baris: 7043
kolom: 21

2. Kolom mana yang disebut sebagai fitur, dan mana yang disebut sebagai label?

In [265]:
print('kolom feature:', df.columns[:-1])
print('kolom label:', df.columns[-1])

kolom feature: Index(['customerID', 'gender', 'SeniorCitizen', 'Partner', 'Dependents',
       'tenure', 'PhoneService', 'MultipleLines', 'InternetService',
       'OnlineSecurity', 'OnlineBackup', 'DeviceProtection', 'TechSupport',
       'StreamingTV', 'StreamingMovies', 'Contract', 'PaperlessBilling',
       'PaymentMethod', 'MonthlyCharges', 'TotalCharges'],
      dtype='object')
kolom label: Churn

3. Apakah tipe data sudah sesuai dengan deskripsi setiap fitur? 

ya sudah sesuai

In [266]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 21 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   customerID        7043 non-null   object
 1   gender            7043 non-null   object
 2   SeniorCitizen     7043 non-null   int64
 3   Partner           7043 non-null   object
 4   Dependents        7043 non-null   object
 5   tenure            7043 non-null   int64
 6   PhoneService      7043 non-null   object
 7   MultipleLines     7043 non-null   object
 8   InternetService   7043 non-null   object
 9   OnlineSecurity    7043 non-null   object
 10  OnlineBackup      7043 non-null   object
 11  DeviceProtection  7043 non-null   object
 12  TechSupport       7043 non-null   object
 13  StreamingTV       7043 non-null   object
 14  StreamingMovies   7043 non-null   object
 15  Contract          7043 non-null   object
 16  PaperlessBilling  7043 non-null   object
 17  PaymentMethod     7043 non-null   object
 18  MonthlyCharges    7043 non-null   float64
 19  TotalCharges      7043 non-null   object
 20  Churn             7043 non-null   object
dtypes: float64(1), int64(2), object(18)
memory usage: 1.1+ MB

4. Explore setiap fitur dengan melihat statistika deskriptif atau value counts nya

gender

In [267]:
df.gender.value_counts()

Male      3555
Female    3488
Name: gender, dtype: int64

SeniorCitizen

In [268]:
df.SeniorCitizen.value_counts()

0    5901
1    1142
Name: SeniorCitizen, dtype: int64

Partner

In [269]:
df.Partner.value_counts()

No     3641
Yes    3402
Name: Partner, dtype: int64

Dependants

In [270]:
df.Dependents.value_counts()

No     4933
Yes    2110
Name: Dependents, dtype: int64

Tenure

In [271]:
df.tenure.describe()

count    7043.000000
mean       32.371149
std        24.559481
min         0.000000
25%         9.000000
50%        29.000000
75%        55.000000
max        72.000000
Name: tenure, dtype: float64

PhoneService

In [272]:
df.PhoneService.value_counts()

Yes    6361
No      682
Name: PhoneService, dtype: int64

MultipleLines

In [273]:
df.MultipleLines.value_counts()

No                  3390
Yes                 2971
No phone service     682
Name: MultipleLines, dtype: int64

InternetService

In [274]:
df.InternetService.value_counts()

Fiber optic    3096
DSL            2421
No             1526
Name: InternetService, dtype: int64

OnlineSecurity

In [275]:
df.OnlineSecurity.value_counts()

No                     3498
Yes                    2019
No internet service    1526
Name: OnlineSecurity, dtype: int64

OnlineBackup

In [276]:
df.OnlineBackup.value_counts()

No                     3088
Yes                    2429
No internet service    1526
Name: OnlineBackup, dtype: int64

DeviceProtection

In [277]:
df.DeviceProtection.value_counts()

No                     3095
Yes                    2422
No internet service    1526
Name: DeviceProtection, dtype: int64

TechSupport

In [278]:
df.TechSupport.value_counts()

No                     3473
Yes                    2044
No internet service    1526
Name: TechSupport, dtype: int64

StreamingTV

In [279]:
df.StreamingTV.value_counts()

No                     2810
Yes                    2707
No internet service    1526
Name: StreamingTV, dtype: int64

StreamingMovies

In [280]:
df.StreamingMovies.value_counts()

No                     2785
Yes                    2732
No internet service    1526
Name: StreamingMovies, dtype: int64

Contract.value

In [281]:
df.Contract.value_counts()

Month-to-month    3875
Two year          1695
One year          1473
Name: Contract, dtype: int64

PaperlessBilling

In [282]:
df.PaperlessBilling.value_counts()

Yes    4171
No     2872
Name: PaperlessBilling, dtype: int64

PaymentMethod

In [283]:
df.PaymentMethod.value_counts()

Electronic check             2365
Mailed check                 1612
Bank transfer (automatic)    1544
Credit card (automatic)      1522
Name: PaymentMethod, dtype: int64

MonthlyCharges

In [284]:
df.MonthlyCharges.describe()

count    7043.000000
mean       64.761692
std        30.090047
min        18.250000
25%        35.500000
50%        70.350000
75%        89.850000
max       118.750000
Name: MonthlyCharges, dtype: float64

TotalCharges -> data berupa string ubah jadi numerik

In [285]:
df.TotalCharges.value_counts()

          11
20.2      11
19.75      9
20.05      8
19.9       8
          ..
6849.4     1
692.35     1
130.15     1
3211.9     1
6844.5     1
Name: TotalCharges, Length: 6531, dtype: int64

Apakah ditemukan hal yang menarik atau hal yang janggal pada data? 

Ya, pada kolom TotalCharges harusnya bertipe numerik bukan object

Berapa banyak (bisa dalam %) customer yang churn pada data ini?

Churn

In [286]:
round(df.Churn.value_counts(True)*100, 2)

No     73.46
Yes    26.54
Name: Churn, dtype: float64

## Data Cleaning

Apakah ada missing values pada data ini? 

tidak ada data yang null

In [287]:
df.isnull().sum()

customerID          0
gender              0
SeniorCitizen       0
Partner             0
Dependents          0
tenure              0
PhoneService        0
MultipleLines       0
InternetService     0
OnlineSecurity      0
OnlineBackup        0
DeviceProtection    0
TechSupport         0
StreamingTV         0
StreamingMovies     0
Contract            0
PaperlessBilling    0
PaymentMethod       0
MonthlyCharges      0
TotalCharges        0
Churn               0
dtype: int64

Jika ada missing values, lakukan imputasi pada data

Apakah ada nilai unknown atau nilai lain yang tidak konsisten?

- pada kolom TotalCharges terdapat value yang terdapat space bertipe string

In [288]:
df.TotalCharges = df.TotalCharges.replace(' ', '')
df.TotalCharges = df.TotalCharges.apply(pd.to_numeric)
df.TotalCharges.describe()

count    7032.000000
mean     2283.300441
std      2266.771362
min        18.800000
25%       401.450000
50%      1397.475000
75%      3794.737500
max      8684.800000
Name: TotalCharges, dtype: float64

In [289]:
df.MultipleLines = df.MultipleLines.replace('No phone service', 'No')
df.OnlineSecurity = df.OnlineSecurity.replace('No internet service', 'No')
df.OnlineBackup = df.OnlineBackup.replace('No internet service', 'No')
df.TechSupport = df.TechSupport.replace('No internet service', 'No')
df.DeviceProtection = df.DeviceProtection.replace('No internet service', 'No')
df.StreamingTV = df.StreamingTV.replace('No internet service', 'No')
df.StreamingMovies = df.StreamingMovies.replace('No internet service', 'No')

In [290]:
df.MultipleLines.value_counts()

No     4072
Yes    2971
Name: MultipleLines, dtype: int64

In [291]:
print(df.loc[(df.InternetService!='No') & (df.PhoneService=='Yes') & (df.StreamingTV!='Yes')].shape[0])

2413

In [292]:
print(df.loc[(df.InternetService!='No') & (df.StreamingTV=='Yes')].shape[0])

2707

In [293]:
print(df.loc[(df.InternetService!='No') & (df.PhoneService=='Yes')].shape[0])

4835

Apakah ada data yang duplikasi?

Jika ada data duplikat, bisa dilakukan cleaning juga
- ada 22 baris

In [294]:
df = df.drop(columns='customerID')

In [295]:
df.duplicated().sum()

22

In [296]:
df = df.drop_duplicates()

In [297]:
df.duplicated().sum()

0

Jika ada yang janggal pada data, dan ingin melakukan drop fitur maupun modifikasi,
silakan dilakukan

In [298]:
df.columns

Index(['gender', 'SeniorCitizen', 'Partner', 'Dependents', 'tenure',
       'PhoneService', 'MultipleLines', 'InternetService', 'OnlineSecurity',
       'OnlineBackup', 'DeviceProtection', 'TechSupport', 'StreamingTV',
       'StreamingMovies', 'Contract', 'PaperlessBilling', 'PaymentMethod',
       'MonthlyCharges', 'TotalCharges', 'Churn'],
      dtype='object')

In [299]:
df['SeniorCitizen'] = df['SeniorCitizen'].replace({1:'Yes', 0:'No'})
df['TotalServices'] = (df[['PhoneService', 'InternetService', 'OnlineSecurity', 'OnlineBackup', 'DeviceProtection', 
                        'TechSupport', 'StreamingTV','StreamingMovies']]=='Yes').sum(axis=1)
df['Protection'] = np.where((df['OnlineSecurity'] != 'No') | (df['OnlineBackup'] != 'No') | (df['DeviceProtection'] != 'No') |
                    (df['TechSupport'] != 'No'), 'Yes', 'No')

In [300]:
df.TotalCharges.isnull().sum()

11

In [301]:
# handle missing value
df['TotalCharges'].fillna(df['tenure'] * df['MonthlyCharges'])

0         29.85
1       1889.50
2        108.15
3       1840.75
4        151.65
         ...
7038    1990.50
7039    7362.90
7040     346.45
7041     306.60
7042    6844.50
Name: TotalCharges, Length: 7021, dtype: float64

In [302]:
df.isnull().sum()

gender               0
SeniorCitizen        0
Partner              0
Dependents           0
tenure               0
PhoneService         0
MultipleLines        0
InternetService      0
OnlineSecurity       0
OnlineBackup         0
DeviceProtection     0
TechSupport          0
StreamingTV          0
StreamingMovies      0
Contract             0
PaperlessBilling     0
PaymentMethod        0
MonthlyCharges       0
TotalCharges        11
Churn                0
TotalServices        0
Protection           0
dtype: int64

In [303]:
df[['tenure', 'MonthlyCharges', 'TotalCharges']]

      tenure  MonthlyCharges  TotalCharges
0          1           29.85         29.85
1         34           56.95       1889.50
2          2           53.85        108.15
3         45           42.30       1840.75
4          2           70.70        151.65
...      ...             ...           ...
7038      24           84.80       1990.50
7039      72          103.20       7362.90
7040      11           29.60        346.45
7041       4           74.40        306.60
7042      66          105.65       6844.50

[7021 rows x 3 columns]

In [304]:
df['TotalCharges'] = df['TotalCharges'].fillna(df['tenure']*df['MonthlyCharges'])
df.TotalCharges.isnull().sum()

0

In [305]:
df.to_csv('telko-churn-bersih.csv', index=False)